$primeDkRed: #7A1818;
$primeMedRed: #CC5a5a;
$primeLtRed: #FFF0FC;

$accentPurple: #894670;
$accentDkBlue: #38839E; 
$accentLtBlue: #B1E1F2;
$accentLtGrey: #EAEAEA;

$shadowDkRed: #541515;
$shadowLtRed: #C69DC6;

$accentShadowGrey: #86A1AD;

body {

    font-family: "Gibson", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;

    #mainpage {
        #jiggybanner {
            width: 33%;
            text-align: center;
    
            .title {
                width: 35%;
                height: auto;
                position: relative;
                top: 200px;
                margin-left: 15%;
            }
        
            .bannerBG {
                position: absolute;
                width: 250px;
                height: 500px;
                background: $primeLtRed;
                transform: skewY(20deg);
                margin-left: 10%;
                margin-top: -10%;
            }
        }
    
        #intro-container {
            width: 500px;
            height: auto;
            margin-left: 50%;
            margin-top: 2%;
    
            .intro-header {
                color: $accentLtBlue;
                font-size: 7em;
            }
    
            .intro-text {
                color: $accentShadowGrey;
                font-size: 1.5em;
                line-height: 35px;
            }
        }
    
        .main-menu {
            display: flex;
            width: 100%;
            margin-left: 10%;
            margin-top: 7%;
    
            .menu-item {
                position: relative;
                top: 0;
                left: 0;


                &:hover {
                    cursor: pointer;
    
                    .menu-pic-top {
                        transform: translate(-20px, -20px);
                    }
    
                    .menu-pic-bottom {
                        transform: translate(15px, 15px);
                    }
                }
    
                .menu-pic {
                    width: 70%;
                    height: auto;
                    transition: all .25s ease;

                    &.menu-pic-top {
                        position: relative;
                        top: 0;
                        left: 0;
                    }
    
                    &.menu-pic-bottom {
                        position: absolute;
                        top: 0px;
                        left: 0px;
                    }
                }
            }

            .social-menu {
                position: relative;
                top: 0;
                left: 0;
                
                .social-tab {
                    width: 70%;
                    height: auto;
    
                    &.social-front {
                        position: relative;
                        top: 0;
                        left: 0;
                    }
        
                    &.social-bg {
                        position: absolute;
                        top:0;
                        left: 0;
                    }
                }
            }
        }   
    } //End Main Page
}
